// get the page ready
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html, body, .spotify-login { height: 100%; width: 100%; position: absolute; top: 0; right: 0; }
body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {margin: 0; font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1 { font-size: 2.25em; font-weight: normal;}
h2 { font-size: 1.75em; font-weight: normal; margin-bottom: 20px;}
h3 { font-size: 1.5em;  font-weight: normal;}
h4 { font-size: 1.25em; font-weight: normal;}
h5 { font-size: 1em;  font-weight: normal;}
h6 { font-size: 1em;  font-weight: normal;}
ul { list-style: none; margin: 0; padding: 0; }

a {
  &:visited, &:link {
    color: #c1c1c1;
  }
  &:hover, &:active {
    color: #648F00;
  }
}

// let the real CSS begin
.spotify-login {
  h1 {
    background-color: #1f1a1a;
    color: #fff;
    padding: 20px 50px;
  }
  .page-content {
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
  }
  .login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    .login-btn .spotify-btn {
      .main {
        fill: #648F00;
      }
      &:hover .main {
        fill: black;
      }
    }
  }
  .error {
    color: #FB654A;
    &, h2 { font-weight: bold; }
  }
  .user {
    .user-content {
      display: flex;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
      }
      ul {
        li {
          display: flex;
          padding: 3px 0px;
          span:first-child {
            width: 150px;
            text-align: right;
            margin-right: 20px;
          }
          span:last-child {
            flex: 1;
          }
        }
      }
    }
  }
}



/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

body, html {
  overflow-x: hidden;
}

.app-header {
  display:block;
  padding: 30px;
}

.app-title {
  display:inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float:left;
  position:relative;
  color:#fff;
  
  @media(min-width:768px) {
    width: 20%;
    margin: 280px 0 0 0;
  }
  
  h1 {
    font-size: 52px;
    margin: 0;
  }
  
  p {
    font-weight: 200;
    opacity: .5;
  }
  
}

.app-title-content {
  position:relative;
  top:50%;
  left: 50%;
  width:100%;
  text-align:center;
  transform:translate(-50%, -50%);
  
  @media(min-width:768px) {
    width:auto;
    position:absolute;
    text-align:left;
  }
}

.app-card-list {
  display:inline-block;
  width:100%;
  float:right;
  margin:0;
  min-height: 75vh;
  white-space:normal;
  overflow-x: scroll;
  margin-top:-70px;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
  
  @media(min-width:768px) {
      width:80%;
      white-space:nowrap;
      margin-top: 0;
  }
  
  .card {
    margin: 60px 30px;
    display: inline-block;
    
    .card-body {
        white-space: normal;
        .profile {
          height: 400px;
          width: 400px;
          border-radius: 50%;
        }
    }
  }
}

.designer-link {
  display:inline-block;
  padding-top:40px;
}
